@import "tailwindcss";
/*@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
} */

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom {
  animation: zoomIn 0.2s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0 }
  to { transform: scale(1); opacity: 1 }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  60% {
    opacity: 1;
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-fadeInBounce {
  animation: fadeInBounce 0.8s ease-out forwards;
}